var app = app || {};

$(document).ready(function() {

  app.game = new Phaser.Game(800, 650   , Phaser.AUTO, 'container', { preload: app.preload, create: app.create, update: app.update, render: app.render });

});

app.preload = function() {

    app.game.load.image('bullet', '<%= image_path("LevelOne/bullet.png") %>');
    app.game.load.image('enemyBullet', '<%= image_path("LevelOne/enemy-bullet.png") %>');
    app.game.load.spritesheet('invader', '<%= image_path("LevelOne/asteroid.png") %>');
    app.game.load.image('ship', '<%= image_path("LevelOne/ship.png") %>');
    app.game.load.spritesheet('kaboom', '<%= image_path("LevelOne/explode.png") %>', 128, 128);
    app.game.load.image('starfield', '<%= image_path("LevelOne/background.png") %>');


    // Preloaded images for level 3:
    app.game.load.spritesheet('asteroidLargeLevelThree', '<%= image_path("LevelThree/asteroidLarge.png") %>');
    app.game.load.spritesheet('asteroidSmallLevelThree', '<%= image_path("LevelThree/asteroidSmall.png") %>');
    app.game.load.spritesheet('asteroidSplitLevelThree', '<%= image_path("LevelThree/asteroidSplit.png") %>');


    // Preloaded images for level 4:
    app.game.load.spritesheet('shipLevel4', '<%= image_path("LevelFour/ship.png") %>');

    app.game.load.spritesheet('asteroidLargeLevelFour', '<%= image_path("LevelFour/asteroidLarge.png") %>');

    // LEAVE THIS AT THE END - IT ASSIGNS THE CLASS FOR CSS AFTER EVERYTHING IS CREATED ON PAGE. - KANE
    $('body canvas').addClass("gameWindow");
    $('<div class="gameStatus">'+'<p class="scoreText gameScore">'+app.score+'</p>'+'<p class="scoreText gameLives"> 3 </p>'+'</div>').appendTo('#container');
    $('<div class="optionsBar"><div class="toggleSound"><p>Mute</p></div></div>').appendTo('.gameStatus');

      // Temporarily start muted.
    Howler.mute();
    $('.toggleSound').addClass("muted")

}

app.render = function() {

    // for (var i = 0; i < aliens.length; i++)
    // {
    //     game.debug.body(aliens.children[i]);
    // }

}