<!DOCTYPE html>
<html>
<head>
  <title>SpaceraceApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
<div class="formContain">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Lets Go!</button>
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h1>Log in</h1>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :name %><br />
    <%= text_field_tag :name, params[:name] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag "Log in" %></p>
<% end %>
    </div>
  </div>
</div>

<div id="saveScore">
  <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
  Save Score!
</button>

<script>
var app = app || {}

  var user_id = <%= current_user  ? current_user.id : "null" %>;
  $('#myButton').one('click', function () {

    $.ajax({
      url: "/highscores",
      method: "POST",
      dataType: "JSON",
      data: {
        highscore: {
          score: app.score,
          user_id: user_id
        }
      },
      success:function(data){
        console.log(data);
      }
    })
  })
</script>
</div>

<div>


<button>signup</button>
<table border="1" style="width:100%" class="table table-bordered" id="tableDo">
  <tr>
    <tr>
    <td> <strong>Highscores</strong> </td>
    <td> <strong>User</strong> </td>
    </tr>
    <tr><% h = Highscore.all.order(:score).reverse  %>
    <td><%= h.first['score']%></td>
    <td><%= h.first.user['name'] %></td> 
    </tr>
    <tr>
    <td><%= h.second['score']%></td>
    <td><%= h.second.user['name']%></td>
    </tr>
    <tr>
    <td><%= h.third['score']%></td>
    <td><%= h.third.user['name']%></td>
    </tr>

</table>
<script>
  var changePage = function (genericScore) {
    var newURL = "/sign_up";
    window.location = newURL;
  };

  $('#container > div.formContain > div:nth-child(4) > form > button').on('click', function(event){
    event.preventDefault()
    $.ajax({
      url: "/generics/" +app.score,
      method: "PUT",
      dataType: "JSON",
      success: function(data){
        changePage( app.score ); 
      }
    })
  })
</script>
</div>
<!-- omg -->
<table border="1" style="width:100%" class="table table-bordered" id="tableDo">


</table>

<div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.name %>.
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "log in", log_in_path %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<%= yield %>
</div>
</div>
</body>
</html>


